* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d5d6d6;
  font-family: Arial, Helvetica, sans-serif;
}

.content-container {
  background-color: white;
  width: 30%;
  margin: 10rem auto;
  border-radius: 8px;
  text-align: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.header-container {
  padding-top: 2rem;
}

.input {
  width: 60%;
  margin: 2rem auto;
  padding: 6px 2px;
  outline: none;
  border: none;
  font-size: 15px;
}

.btn {
  background-color: rgb(0, 68, 255);
  color: white;
  padding: 10px 24px;
  border-radius: 8px;
  font-size: 23px;
  border: none;
  margin: 2rem 0;
  cursor: pointer;
}

/* Dynamic JS Classes */

.error-border {
  border-bottom: 1px solid red;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-left: 117px;
  margin-top: -27px;
  text-align: left;
  width: 300px;
}
